/*
 * Primary color: #49A2E3;
 */

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  font-size: 14px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all ease 0.5s;
}

body.body-lock-scroll {
  overflow: hidden;
}

.button-primary {
  padding: 12px 24px;
  color: #fff;
  background: #49A2E3;
  border-radius: 40px;
}
.button-primary:hover {
  color: #fff;
  background: #58b9ff;
  transition: all linear 0.2s;
}
.fadein {
  opacity: 0;
}
.fadein.active {
  opacity: 1;
  transition: all ease 0.65s;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.Header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 110px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0));
  z-index: 100;
  color: #fff;
}
.Header.is-fixed {
  background: #fff;
  border-bottom: solid 1px #eee;
  color: #666;
  height: 64px;
  transition: all ease 0.3s;
}
.Header-nav-link {
  margin-right: 48px;
  font-size: 16px;
  padding: 8px;
}
.Header-nav-link.active {
  color: #49A2E3;
  border-bottom: solid 1px #49A2E3;
}
.Header-logo,
.Header-nav {
  margin-left: 18px;
  margin-right: 18px;
}
.Header-logo.is-inverted {
  height: 50px;
  margin-top: 10px;
}
.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 14px;
  margin-top: 150px;
  background: #666;
  padding: 36px 24px;
}

.Top-movie {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  transition: all ease 0.8s;
}
.Top-movie-cover {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.26);
}
.Top-movie-text {
  position: absolute;
  color: #fff;
  margin: 40vh 80px;
  font-size: 24px;
  max-width: 480px;
  z-index: 100;
}
.Top-movie-cover {
  display: flex;
}
.Top-movie-logo.mod-right {
  margin-left: 60%;
}
.Top-movie-video-area {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.Top-movie-video {
  left: 50%;
  top: 50%;
}
.Top-section,
.Works-section {
  margin-top: 150px;
  text-align: center;
  padding: 0 24px;
}
.Top-head {
  font-size: 24px;
  margin: 0 auto;
  max-width: 480px;
}
.Top-paragraph {
  font-size: 14px;
  margin: 50px auto 0;
  max-width: 1024px;
}
.Top-gallary {
  max-width: 1024px;
  margin: auto;
}
.Top-gallary-image {
  margin: 8px;
  width: 312px;
  height: 210px;
}
.Top-marin {
  text-align: left;
}
.Top-marin-head {
  margin-top: 100px;
}

.Works-gallary-item {
  margin: 12px;
  width: 40%;
  display: inline-block;
  border: solid 1px #ddd;
  border-radius: 3px;
  position: relative;
}
.Works-gallary-text {
  padding: 12px 12px 24px 12px;
}
.Works-gallary-date,
.Works-gallary-desctiption {
  text-align: left;
}
.Works-gallary-date {
  color: #666;
  font-size: 12px;
}
.Works-gallary-desctiption {
  margin-top: 12px;
}
.Works-gallary-hover-area {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all linear 0.2s;
  cursor: pointer;
  color: #fff;
}
.Works-gallary-item:hover .Works-gallary-hover-area {
  opacity: 0.8;
}
.Works-gallary-hover-date,
.Works-gallary-hover-description {
  padding: 24px 16px;
  text-align: left;
}
.Works-gallary-hover-description {
  font-size: 24px;
}

.ShowWork-gallary {
  max-width: 1024px;
  margin: auto;
}
.ShowWork-gallary-image {
  max-width: 100%;
  min-width: 768px;
  margin: 24px auto;
  cursor: pointer;
}
.ShowWork-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: all ease 0.5s;
}
.ShowWork-image-overlay-close {
  cursor: pointer;
  padding: 24px;
  position: absolute;
}
.ShowWork-image-overlay-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.ShowWork-image-overlay-image {
  position: relative;
  height: 80%;
  margin: auto;
  transition: all ease 0.5s;
}
/* For transition */
.ShowWork-modal-hidden {
  opacity: 0;
  visibility: hidden;
}
.ShowWork-image-navigation {
  margin: auto;
  cursor: pointer;
  width: 5%;
}

/* Mobile */
@media screen and (max-width: 480px) {
  .Header-nav-link {
    display: none;
  }
  .Works-gallary-item {
    width: 96%;
    margin: 2%;
  }
  .Works-gallary-hover-area {
    display: none;
  }
}
